body{
    background-color: #151515;
    color: #ded7d7;
    height: 100vh;
}

.loginBody {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
}


.nav{
    width: 100%;
    background-color: #A91D3A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navLogo{
    max-width: 4rem;
}

.signout{
    background-color: #A91D3A;
    color: white;
    border: 0;
}


.pokladnaCard{
    background-color: #C73659;
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    font-size: 30px;
    width: 263px;
    text-align: center;

}

.waitSec{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    background-color: rgba(169, 29, 58,0.15);
    width: 860px;
    height: 457px;
    border: 1px solid #A91D3A;
    border-radius: 24;
    box-shadow: 0 4px 20px #A91D3A ;
}

.loginSec {
    height: 756px;
    max-height: 90%;
    min-height: 40rem !important;
    width: 1196px;
    max-width: 95%;
    border-radius: 20px; 
    margin-top: 1rem;
    background-color: #A91D3A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginLogo{
    margin: 2rem;
    max-width: 20vw;
}

.loginForm {
    height: 70vh;
    width: 90%;
    max-width: 95%;
    border-radius: 20px; 
    background-color: #A91D3A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginInput{
    max-width: 100%;
}

.loginForm .form-label {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0,0.75);
}

.loginForm .form-control {
    display: flex;
    justify-self: center;
    font-size: 40px;
    margin-bottom: 10px;
    width: 953px;
    max-width: 100%;
    height: 84px;
    border-radius: 10px;
    background-color: #EEEEEE;
    border-color: white;

}

.loginForm .btn-primary {
    width: 323px;
    height: 84px;
    background-color: #EEEEEE;
    color: #000000;
    border-radius: 10px;
    border-color: white;
    font-weight: bold;
    font-size: 45px;
    margin-top: 2rem;
}

.loginForm .btn-primary:active {
    background-color: #696969;
    color: #ffffff;
    border-color: #696969 !important;

}

.loginForm .btn-primary:hover {
    transition: 100ms;
    width: 333px;
    height: 94px;
    
}
